<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004532647488-kv55gichf6cadr71cujhm5f47lteu591.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004532647488-kv55gichf6cadr71cujhm5f47lteu591</string>
	<key>API_KEY</key>
	<string>AIzaSyC_ARG8IT_lRgk0eJRP4hIzpdb0eL6nVHc</string>
	<key>GCM_SENDER_ID</key>
	<string>1004532647488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryo7032.TrainDistinctionApp</string>
	<key>PROJECT_ID</key>
	<string>traindestinction</string>
	<key>STORAGE_BUCKET</key>
	<string>traindestinction.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004532647488:ios:2477b73d163d88546101a5</string>
	<key>DATABASE_URL</key>
	<string>https://traindestinction.firebaseio.com</string>
</dict>
</plist>